page-home {
    
}

.toolbar-background {
    background-color: #fff;
  }

.div-timer {
  border: 5px solid #5bcbd2;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button-start{
  border-radius: 80px;
  width: 80px;
  height: 80px;
  margin-top: -25PX
}

.div-status-mouth{
  width: 50%;
  margin-top: 10px;
  margin-left: 50%;
  border: 5px solid #bbeff3;
}